body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    padding: 10;
  }
  
  nav ul li {
    display: inline;
    margin-right: 550px;
  }
  
  nav a {
    color: green;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 4em; /* Tamanho padrão */
    color: #666; /* Cor do texto */
}



